{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
<div class="container">
  <p>
    <label for="amount">Hours:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </p>
  
  <div id="slider-range"></div>
 
 <div>
 {{ form(form) }}

 </div>
</div>
 
{% endblock %}
