{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    Titles

    </div>
    <div class="row">
   
     {% include 'game/comp/calendar.html.twig' with {  calendarArray : calendarArray } %}
    </div>
    
</div>
{% endblock %}
