<div class="container transparent mt-3">
        <div class="row justify-content-center">
            <div class="col-md-9 p-0">
                <div class="d-flex flex-row justify-content-center">
                <div>
                    <div class="alert alert-danger" role="alert">
                        <h1 class="lead mb-1">Disclaimer!!!</h1>
                        <b>To jest MVP - minimum viable product</b> 
                        <br>
                        Apka powinna działać i możemy jej użyć do organizacji naszych gier.
                        Zapewne istnieją inne i lepsze narzędzia do czegoś takiego, ale dla mnie jest to zagadnienie na którym się uczę.
                        <br>
                        <br>
                        Wszystko jest w języku angielskim, bo robię to sobie w ramach projektu do portfolio.
                        <br>
                        <br>
                        Będę go rozbudowaywał z czasem, na razie ma podstawowe funkcje i byle jaki frontend
                    </div>
                <div>
                </div>
            </div>
        </div>
    </div>