{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}    
    <div class="container transparent mt-3">
        <div class="row justify-content-center">
            <div class="col-9 p-0">
                <div class="d-flex flex-row justify-content-center">
                <div>
                    <div class="alert alert-danger" role="alert">
                        <h1 class="lead mb-1">Disclaimer!!!</h1>
                        <b>To jest MVP - minimum viable product</b> 
                        <br>
                        Apka powinna działać i możemy jej użyć do organizacji naszych gier.
                        Zapewne istnieją inne i lepsze narzędzia do czegoś takiego, ale dla mnie jest to zagadnienie na którym się uczę.
                        <br>
                        <br>
                        Wszystko jest w języku angielskim, bo robię to sobie w ramach projektu do portfolio.
                        <br>
                        <br>
                        Będę go rozbudowaywał z czasem, na razie ma podstawowe funkcje i byle jaki frontend
                    </div>
                <div>
                </div>
            </div>
        </div>
    </div>

<div class="container transparent ">
        <div class="row justify-content-center text-center">
            <div class="col-9 p-0">
                    <div class="row ">
                        <h1 class="display-5 mb-2"> Harmon </h1>
                    </div>
                <div class="d-flex flex-row justify-content-between mt-3">

                    <div class="col-3 p-0 ">
                        <div class="d-flex flex-row justify-content-center party-header pt-1 pb-1 bg-gradient">
                            Create party
                        </div>
                        <div class="d-flex flex-row justify-content-center bg-light bg-gradient">
                            <i class="fa-regular fa-users-between-lines fa-8x m-3 mb-5"></i>
                          
                        </div>
                        <div class="d-flex flex-row justify-content-center bg-light p-2 border fw-light text-center text-md bg-gradient">
                            Make a new recouring activity to manage
                        </div>
                    </div>

                    <div class="col-3 p-0 ">
                        <div class="d-flex flex-row justify-content-center party-header pt-1 pb-1 bg-gradient">
                            Add Members
                        </div>
                        <div class="d-flex flex-row justify-content-center bg-light ">
                            <i class="fa-regular fa-people-pulling fa-8x m-3 mb-5"></i>
                          
                        </div>
                        <div class="d-flex flex-row justify-content-center bg-light p-2 border fw-light text-center text-md">
                             Everything is awesome when you're part of a team!
                        </div>
                    </div>

                    <div class="col-3 p-0 ">
                        <div class="d-flex flex-row justify-content-center party-header pt-1 pb-1 bg-gradient">
                            Find date
                        </div>
                        <div class="d-flex flex-row justify-content-center bg-light ">
                            <i class="fa-regular fa-calendar-check fa-8x m-3 mb-5"></i>
                        </div>
                        <div class="d-flex flex-row justify-content-center bg-light p-2 border fw-light text-center text-md">
                            Place your votes and app will do the rest
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    {# <div class="container transparent mt-3">
        <div class="row justify-content-center">
            <div class="col-9 p-0">
                <div class="row gx-5 ">
                    <div class="col p-0 ml-3">
                        <div class="d-flex flex-row justify-content-center vote-header">
                            Create part
                        </div>
                    </div>
                    <div class="col p-0 ml-3">
                        <div class="d-flex flex-row justify-content-center vote-header">
                            Add Members
                        </div>
                    </div>

                    <div class="col p-0 ml-3">
                        <div class="d-flex flex-row justify-content-center vote-header">
                            Find date!
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div> #}
{% endblock %}
