body {
    background-color: white;
}

#event_date {
    display: none;
    /* color: #00ff401f; */
}


.square-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.info-icon:hover {

    color: orange;
    /* width: 100px; */

}

table.party-list {
    /* width: auto; */
}

th.host td.host {
    column-width: 1em;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-menu-item {
    
}

.active {
    color: #ffb300;
}

.transparent {
    background-color: #fafafa00;
}

