body {
    background-color: white;
}

#event_date {
    display: none;
    /* color: #00ff401f; */
}

.nav-item-text {
    color: rgb(234, 234, 60);
}

.div-80 {
    width: 60%;
}

th.game-table-header {
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #ffb300;
    height: 3em;
}

td.game-table {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 3em;
}



