.vote-form {
    display: inline-block;
    vertical-align: middle;
}

.time-display {
    
    border:0; 
    color:#f6931f; 
    font-weight: 400;
    width: 250px;
    font-size: 40px;
    padding: 2px;
    height: 50px;
    
}

.time-input {
    width: 70px;
    /* background-color: #f6931f; */
}

.date {
    margin-right: 30px;
}

.bg-green {
    background-color: rgb(94, 255, 85);
}

.bg-red {
    background-color: rgb(255, 130, 85);
}

.ui-slider-range {
background-color: black;
}

.ui-state-active {
    background-color: #f9f6f6;
    color: #f6931f;
}

