body {
    background-color: white;
}

#event_date {
    display: none;
    /* color: #00ff401f; */
}


.square-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.info-icon:hover {

    color: orange;
    /* width: 100px; */

}

th.host td.host {
    column-width: 1em;
    padding-left: 0px;
    padding-right: 0px;
}


.active {
    color: #ffb300;
}

.transparent {
    background-color: #fafafa00;
}

.hidden {
    display: none;
}

.readme-pic {
    
    /* background: url('http://127.0.0.1/image/day.png') left top no-repeat; */
    background: url('http://harmon.sasartele.pl/image/day.png') left top no-repeat;
    width: 213px;
    height: 109px;
    box-shadow: 0 0 15px 15px rgb(255, 255, 255) inset;
}

.rounded-wrapper {
    overflow:hidden;
    padding: 0;
    border: rgb(149, 149, 149) solid 0.1px;
    border-radius: 3em;
    -moz-box-shadow: 0 0 10px rgb(149, 149, 149);
    -webkit-box-shadow: 0 0 10px rgb(149, 149, 149);
    box-shadow: 0 0 10px rgb(149, 149, 149);
}

.universal-shadow-text {
    /* overflow:hidden;
    padding: 0; */
    /* border: rgb(149, 149, 149) solid 0.1px; */
    /* border-radius: 3em; */
    /* text-shadow: 2px 2px #ff0000; */
    text-shadow: 0 0 7px rgb(149, 149, 149);
    /* -moz-box-shadow: 0 0 10px rgb(149, 149, 149);
    -webkit-box-shadow: 0 0 10px rgb(149, 149, 149);
    box-shadow: 0 0 10px rgb(149, 149, 149); */
}

.universal-shadow-box {

    /* text-shadow: 0 0 7px rgb(183, 183, 183); */
    -moz-box-shadow: 0 0 10px rgb(149, 149, 149);
    -webkit-box-shadow: 0 0 10px rgb(149, 149, 149);
    box-shadow: 0 0 10px rgb(149, 149, 149);
}

.box {
    position: relative;
}

.status-spacer {
    padding-left: 15px;
}

.options-link {
    color: black;
}
